---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hi, I'm Rob <span class="text-xl">👋🏻</span> 
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
              I'm an open source contributor making my pull requests in <b>Rust</b>, with occasional contributions in Swift, Python, or Kotlin. 
              I maintain a few libraries that implement Bitcoin protocols: <a href="https://github.com/rustaceanrob/kyoto" target="_blank"><b>Kyoto</b></a>, a memory-conservative, privacy-focused 
              Bitcoin light-client that behaves similarly to a Bitcoin node, and a
                <a href="https://github.com/rust-bitcoin/bip324" target="_blank"><b>library</b></a> which implements peer-to-peer encrypted 
              communication over the Bitcoin protocol. Prior to those projects, I designed and created 
              a Bitcoin and Lightning Network <a href="https://github.com/rustaceanrob/swiftwallet" target="_blank"><b>wallet</b></a> for iOS. From January to May,
              I participated in the Chaincode: <b>Start Your Career in FOSS</b> program, allowing me to break into developing free and open source software. 
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Pinned projects
          </h5>
          <!-- <Link href="/projects">
            See all projects
          </Link> -->
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say hi,
            reach out on github or shoot me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>

      <section class="animate space-y-6">
        <h5 class="font-semibold text-sm text-black dark:text-white">
          PGP Keys
        </h5>
        <p class = "font-mono">Commits: C9FB C331 E4E8 3ECD 5CD0 B5AC F4DD 8F84 86EC 0F1F</p>
        <p class = "font-mono">Email: 1A97 AA62 7ECB 9066 3B48 94CE 7DE6 1FF5 3AD9 7271</p>
      </section>

    </div>
  </Container>
</PageLayout>
